.DS_Store

# since these are generated for the server only, we don't have to share them
pack/script.pack
pack/param.pack
pack/category.pack
pack/enum.pack
pack/struct.pack
pack/mesanim.pack
pack/dbtable.pack
pack/dbrow.pack
pack/hunt.pack
pack/varn.pack
pack/vars.pack
pack/map.pack
pack/midi.pack
pack/animset.pack
