[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_88]
type=layer
x=19
y=55
width=218
height=122
scroll=216

[inv]
layer=com_88
type=inv
x=9
y=16
width=5
height=6
margin=10,1
option1=Remove 1
option2=Remove 5
option3=Remove 10
option4=Remove All
option5=Remove X

[com_96]
layer=com_88
type=text
x=76
y=0
width=64
height=14
font=p12
shadowed=yes
text=Your Stake:
colour=0xAA8822

[com_89]
type=layer
x=258
y=55
width=220
height=122
scroll=216

[otherinv]
layer=com_89
type=inv
x=9
y=16
width=5
height=6
margin=10,1

[com_95]
layer=com_89
type=text
x=62
y=0
width=100
height=14
font=p12
shadowed=yes
text=Opponents Stake:
colour=0xAA8822

[com_90]
type=layer
x=391
y=192
width=78
height=42

[accept]
layer=com_90
type=rect
x=6
y=6
buttontype=normal
width=66
height=31
fill=yes
option=Accept stake and duel options

[accept_text]
layer=com_90
type=text
x=21
y=14
width=39
height=14
font=p12
shadowed=yes
text=Accept
colour=0x008000
overcolour=0x00FF00

[com_104]
layer=com_90
type=graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[com_109]
layer=com_90
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_111]
layer=com_90
type=graphic
x=53
y=0
width=25
height=30
graphic=steelborder,1

[com_113]
layer=com_90
type=graphic
x=0
y=13
width=25
height=30
graphic=steelborder,2

[com_115]
layer=com_90
type=graphic
x=53
y=13
width=25
height=30
graphic=steelborder,3

[com_116]
layer=com_90
type=graphic
x=21
y=22
width=36
height=36
graphic=miscgraphics,3

[com_91]
type=layer
x=391
y=242
width=78
height=43

[decline]
layer=com_91
type=rect
x=6
y=6
buttontype=close
width=66
height=31
fill=yes

[decline_text]
layer=com_91
type=text
x=20
y=14
width=40
height=14
font=p12
shadowed=yes
text=Decline
colour=0x800000
overcolour=0xFF0000

[com_106]
layer=com_91
type=graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[com_108]
layer=com_91
type=graphic
x=22
y=22
width=36
height=36
graphic=miscgraphics,3

[com_110]
layer=com_91
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_112]
layer=com_91
type=graphic
x=53
y=0
width=25
height=30
graphic=steelborder,1

[com_114]
layer=com_91
type=graphic
x=0
y=13
width=25
height=30
graphic=steelborder,2

[com_117]
layer=com_91
type=graphic
x=53
y=13
width=25
height=30
graphic=steelborder,3

[otherplayer]
type=text
x=21
y=29
width=69
height=14
font=p12
shadowed=yes
text=Dueling with:
colour=0xFFAA44

[com_101]
type=graphic
x=237
y=87
width=36
height=36
graphic=miscgraphics,2

[com_102]
type=graphic
x=237
y=51
width=36
height=36
graphic=miscgraphics,2

[com_103]
type=graphic
x=237
y=142
width=36
height=36
graphic=miscgraphics,2

[com_105]
type=graphic
x=237
y=111
width=36
height=36
graphic=miscgraphics,2

[status]
type=text
x=143
y=300
width=220
height=11
center=yes
font=p11
shadowed=yes
text=Neither player is allowed to forfeit the duel.
colour=0xAAAAAA

[com_118]
type=text
x=423
y=29
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[no_forfeit_text]
type=text
x=61
y=190
buttontype=normal
width=57
height=14
overlayer=com_161
font=p12
shadowed=yes
text=No Forfeit
colour=0xAA8822
option=Toggle option

[no_magic_text]
type=text
x=188
y=230
buttontype=normal
width=50
height=14
overlayer=com_175
font=p12
shadowed=yes
text=No Magic
colour=0xAA8822
option=Toggle option

[no_ranged_text]
type=text
x=188
y=190
buttontype=normal
width=60
height=14
overlayer=com_171
font=p12
shadowed=yes
text=No Ranged
colour=0xAA8822
option=Toggle option

[no_melee_text]
type=text
x=188
y=210
buttontype=normal
width=51
height=14
overlayer=com_173
font=p12
shadowed=yes
text=No Melee
colour=0xAA8822
option=Toggle option

[no_weapons_text]
type=text
x=61
y=230
buttontype=normal
width=69
height=14
overlayer=com_165
font=p12
shadowed=yes
text=No Weapons
colour=0xAA8822
option=Toggle option

[no_potions_text]
type=text
x=298
y=190
buttontype=normal
width=61
height=14
overlayer=com_181
font=p12
shadowed=yes
text=No Potions
colour=0xAA8822
option=Toggle option

[no_food_text]
type=text
x=298
y=210
buttontype=normal
width=45
height=14
overlayer=com_183
font=p12
shadowed=yes
text=No Food
colour=0xAA8822
option=Toggle option

[no_prayer_text]
type=text
x=298
y=230
buttontype=normal
width=56
height=14
overlayer=com_185
font=p12
shadowed=yes
text=No Prayer
colour=0xAA8822
option=Toggle option

[no_movement_text]
type=text
x=61
y=210
buttontype=normal
width=76
height=14
overlayer=com_163
font=p12
shadowed=yes
text=No Movement
colour=0xAA8822
option=Toggle option

[no_armour_text]
type=text
x=61
y=250
buttontype=normal
width=59
height=14
overlayer=com_167
font=p12
shadowed=yes
text=No Armour
colour=0xAA8822
option=Toggle option

[com_129]
type=graphic
x=18
y=162
width=36
height=36
graphic=steelborder2,0

[com_130]
type=graphic
x=54
y=162
width=36
height=36
graphic=steelborder2,0

[com_131]
type=graphic
x=90
y=162
width=36
height=36
graphic=steelborder2,0

[com_132]
type=graphic
x=126
y=162
width=36
height=36
graphic=steelborder2,0

[com_133]
type=graphic
x=162
y=162
width=36
height=36
graphic=steelborder2,0

[com_134]
type=graphic
x=198
y=162
width=36
height=36
graphic=steelborder2,0

[com_135]
type=graphic
x=234
y=162
width=36
height=36
graphic=steelborder2,0

[com_136]
type=graphic
x=270
y=162
width=36
height=36
graphic=steelborder2,0

[com_137]
type=graphic
x=306
y=162
width=36
height=36
graphic=steelborder2,0

[com_138]
type=graphic
x=342
y=162
width=36
height=36
graphic=steelborder2,0

[com_139]
type=graphic
x=378
y=162
width=36
height=36
graphic=steelborder2,0

[com_140]
type=graphic
x=414
y=162
width=36
height=36
graphic=steelborder2,0

[com_141]
type=graphic
x=450
y=162
width=36
height=36
graphic=steelborder2,0

[com_142]
type=graphic
x=458
y=162
width=36
height=36
graphic=steelborder2,0

[no_forfeit]
type=graphic
x=36
y=190
buttontype=normal
width=14
height=15
overlayer=com_161
script1op1=testbit,dueloptions,0
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_movement]
type=graphic
x=36
y=210
buttontype=normal
width=14
height=15
overlayer=com_163
script1op1=testbit,dueloptions,1
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_weapons]
type=graphic
x=36
y=230
buttontype=normal
width=14
height=15
overlayer=com_165
script1op1=testbit,dueloptions,2
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_armour]
type=graphic
x=36
y=250
buttontype=normal
width=14
height=15
overlayer=com_167
script1op1=testbit,dueloptions,3
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_ranged]
type=graphic
x=162
y=190
buttontype=normal
width=14
height=15
overlayer=com_171
script1op1=testbit,dueloptions,4
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_melee]
type=graphic
x=162
y=210
buttontype=normal
width=14
height=15
overlayer=com_173
script1op1=testbit,dueloptions,5
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_magic]
type=graphic
x=162
y=230
buttontype=normal
width=14
height=15
overlayer=com_175
script1op1=testbit,dueloptions,6
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_potions]
type=graphic
x=272
y=190
buttontype=normal
width=14
height=15
overlayer=com_181
script1op1=testbit,dueloptions,7
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_food]
type=graphic
x=272
y=210
buttontype=normal
width=14
height=15
overlayer=com_183
script1op1=testbit,dueloptions,8
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_prayer]
type=graphic
x=272
y=230
buttontype=normal
width=14
height=15
overlayer=com_185
script1op1=testbit,dueloptions,9
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[obstacle_text]
type=text
x=298
y=250
buttontype=normal
width=57
height=14
overlayer=com_187
font=p12
shadowed=yes
text=Obstacles
colour=0xAA8822
option=Toggle option

[obstacles]
type=graphic
x=272
y=250
buttontype=normal
width=14
height=15
overlayer=com_187
script1op1=testbit,dueloptions,10
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_jewelry_text]
type=text
x=61
y=270
buttontype=normal
width=61
height=14
overlayer=com_169
font=p12
shadowed=yes
text=No Jewelry
colour=0xAA8822
option=Toggle option

[flower_power_text]
type=text
x=188
y=270
buttontype=normal
width=71
height=14
overlayer=com_179
font=p12
shadowed=yes
text=Flower Power
colour=0xAA8822
option=Toggle option

[flower_power]
type=graphic
x=162
y=270
buttontype=normal
width=14
height=15
overlayer=com_179
script1op1=testbit,dueloptions,12
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_jewelry]
type=graphic
x=36
y=270
buttontype=normal
width=14
height=15
overlayer=com_169
script1op1=testbit,dueloptions,11
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_specs]
type=graphic
x=162
y=250
buttontype=normal
width=14
height=15
overlayer=com_177
script1op1=testbit,dueloptions,13
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_specs_text]
type=text
x=188
y=250
buttontype=normal
width=57
height=14
overlayer=com_177
font=p12
shadowed=yes
text=No Sp. Atk
colour=0xAA8822
option=Toggle option

[com_161]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_162]
layer=com_161
type=text
x=99
y=0
width=220
height=11
center=yes
font=p11
shadowed=yes
text=Neither player is allowed to forfeit the duel.
colour=0xAAAAAA

[com_163]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_164]
layer=com_163
type=text
x=61
y=0
width=304
height=11
center=yes
font=p11
shadowed=yes
text=Players stand next to each other and aren't allowed to move.
colour=0xAAAAAA

[com_165]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_166]
layer=com_165
type=text
x=108
y=0
width=207
height=11
center=yes
font=p11
shadowed=yes
text=Neither player is allowed to use weapons.
colour=0xAAAAAA

[com_167]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_168]
layer=com_167
type=text
x=106
y=0
width=199
height=11
center=yes
font=p11
shadowed=yes
text=Neither player is allowed to use armour.
colour=0xAAAAAA

[com_169]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_170]
layer=com_169
type=text
x=105
y=0
width=208
height=11
center=yes
font=p11
shadowed=yes
text=Neither player is allowed to wear jewelry.
colour=0xAAAAAA

[com_171]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_172]
layer=com_171
type=text
x=90
y=0
width=238
height=11
center=yes
font=p11
shadowed=yes
text=Neither player is allowed to use ranged attacks.
colour=0xAAAAAA

[com_173]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_174]
layer=com_173
type=text
x=96
y=0
width=231
height=11
center=yes
font=p11
shadowed=yes
text=Neither player is allowed to use melee attacks.
colour=0xAAAAAA

[com_175]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_176]
layer=com_175
type=text
x=95
y=0
width=230
height=11
center=yes
font=p11
shadowed=yes
text=Neither player is allowed to use magic attacks.
colour=0xAAAAAA

[com_177]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_178]
layer=com_177
type=text
x=81
y=0
width=260
height=11
center=yes
font=p11
shadowed=yes
text=Neither player will be allowed to use special attacks.
colour=0xAAAAAA

[com_179]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_180]
layer=com_179
type=text
x=92
y=0
width=230
height=11
center=yes
font=p11
shadowed=yes
text=Both players will use flowers as their weapon.
colour=0xAAAAAA

[com_181]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_182]
layer=com_181
type=text
x=97
y=0
width=223
height=11
center=yes
font=p11
shadowed=yes
text=Neither player will be allowed to use potions.
colour=0xAAAAAA

[com_183]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_184]
layer=com_183
type=text
x=102
y=0
width=209
height=11
center=yes
font=p11
shadowed=yes
text=Neither player will be allowed to use food.
colour=0xAAAAAA

[com_185]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_186]
layer=com_185
type=text
x=100
y=0
width=220
height=11
center=yes
font=p11
shadowed=yes
text=Neither player will be allowed to use prayer.
colour=0xAAAAAA

[com_187]
type=layer
x=44
y=288
width=430
height=13
hide=yes

[com_188]
layer=com_187
type=text
x=101
y=0
width=211
height=11
center=yes
font=p11
shadowed=yes
text=The duel will be in an arena with obstacles.
colour=0xAAAAAA
