type=overlay

[com_0]
type=layer
x=5
y=20
width=168
height=229
scroll=945

[com_24]
layer=com_0
type=text
x=5
y=8
width=84
height=14
font=b12
shadowed=yes
text=FREE QUESTS:
colour=0xF99B15

[fortress]
layer=com_0
type=text
x=10
y=23
buttontype=normal
width=130
height=14
font=p12
shadowed=yes
text=Black Knight's Fortress
colour=0xFF0000
overcolour=0xFFFFFF
option=Black Knight's Fortress

[cook]
layer=com_0
type=text
x=10
y=39
buttontype=normal
width=96
height=14
font=p12
shadowed=yes
text=Cook's Assistant
colour=0xFF0000
overcolour=0xFFFFFF
option=Cook's Assistant

[demon]
layer=com_0
type=text
x=10
y=55
buttontype=normal
width=76
height=14
font=p12
shadowed=yes
text=Demon Slayer
colour=0xFF0000
overcolour=0xFFFFFF
option=Demon Slayer

[runemysteries]
layer=com_0
type=text
x=10
y=223
buttontype=normal
width=125
height=14
font=p12
shadowed=yes
text=Rune Mysteries Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Rune Mysteries Quest

[doric]
layer=com_0
type=text
x=10
y=71
buttontype=normal
width=75
height=14
font=p12
shadowed=yes
text=Doric's Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Doric's Quest

[priest]
layer=com_0
type=text
x=10
y=192
buttontype=normal
width=109
height=14
font=p12
shadowed=yes
text=The Restless Ghost
colour=0xFF0000
overcolour=0xFFFFFF
option=The Restless Ghost

[gobdip]
layer=com_0
type=text
x=10
y=117
buttontype=normal
width=94
height=14
font=p12
shadowed=yes
text=Goblin Diplomacy
colour=0xFF0000
overcolour=0xFFFFFF
option=Goblin Diplomacy

[haunted]
layer=com_0
type=text
x=10
y=102
buttontype=normal
width=105
height=14
font=p12
shadowed=yes
text=Ernest the Chicken
colour=0xFF0000
overcolour=0xFFFFFF
option=Ernest the Chicken

[imp]
layer=com_0
type=text
x=10
y=147
buttontype=normal
width=66
height=14
font=p12
shadowed=yes
text=Imp Catcher
colour=0xFF0000
overcolour=0xFFFFFF
option=Imp Catcher

[hunt]
layer=com_0
type=text
x=10
y=162
buttontype=normal
width=97
height=13
font=p12
shadowed=yes
text=Pirate's Treasure
colour=0xFF0000
overcolour=0xFFFFFF
option=Pirate's Treasure

[prince]
layer=com_0
type=text
x=10
y=177
buttontype=normal
width=96
height=14
font=p12
shadowed=yes
text=Prince Ali Rescue
colour=0xFF0000
overcolour=0xFFFFFF
option=Prince Ali Rescue

[romeojuliet]
layer=com_0
type=text
x=10
y=208
buttontype=normal
width=86
height=14
font=p12
shadowed=yes
text=Romeo & Juliet
colour=0xFF0000
overcolour=0xFFFFFF
option=Romeo & Juliet

[sheep]
layer=com_0
type=text
x=10
y=239
buttontype=normal
width=83
height=14
font=p12
shadowed=yes
text=Sheep Shearer
colour=0xFF0000
overcolour=0xFFFFFF
option=Sheep Shearer

[blackarmgang]
layer=com_0
type=text
x=10
y=255
buttontype=normal
width=85
height=14
font=p12
shadowed=yes
text=Shield of Arrav
colour=0xFF0000
overcolour=0xFFFFFF
option=Shield of Arrav

[squire]
layer=com_0
type=text
x=10
y=132
buttontype=normal
width=104
height=14
font=p12
shadowed=yes
text=The Knight's Sword
colour=0xFF0000
overcolour=0xFFFFFF
option=The Knight's Sword

[vampire]
layer=com_0
type=text
x=10
y=270
buttontype=normal
width=84
height=14
font=p12
shadowed=yes
text=Vampire Slayer
colour=0xFF0000
overcolour=0xFFFFFF
option=Vampire Slayer

[hetty]
layer=com_0
type=text
x=10
y=287
buttontype=normal
width=79
height=14
font=p12
shadowed=yes
text=Witch's Potion
colour=0xFF0000
overcolour=0xFFFFFF
option=Witch's Potion

[itwatchtower]
layer=com_0
type=text
x=10
y=889
buttontype=normal
width=68
height=14
font=p12
shadowed=yes
text=Watch Tower
colour=0xFF0000
overcolour=0xFFFFFF
option=Watch Tower

[com_43]
layer=com_0
type=text
x=10
y=306
width=113
height=14
font=b12
shadowed=yes
text=MEMBERS QUESTS:
colour=0xF99B15

[waterfall]
layer=com_0
type=text
x=10
y=904
buttontype=normal
width=89
height=14
font=p12
shadowed=yes
text=Waterfall Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Waterfall Quest

[ball]
layer=com_0
type=text
x=10
y=919
buttontype=normal
width=78
height=14
font=p12
shadowed=yes
text=Witch's House
colour=0xFF0000
overcolour=0xFFFFFF
option=Witch's House

[biohazard]
layer=com_0
type=text
x=10
y=338
buttontype=normal
width=57
height=14
font=p12
shadowed=yes
text=Biohazard
colour=0xFF0000
overcolour=0xFFFFFF
option=Biohazard

[cog]
layer=com_0
type=text
x=10
y=353
buttontype=normal
width=63
height=14
font=p12
shadowed=yes
text=Clock Tower
colour=0xFF0000
overcolour=0xFFFFFF
option=Clock Tower

[itexam]
layer=com_0
type=text
x=10
y=386
buttontype=normal
width=76
height=14
font=p12
shadowed=yes
text=Digsite Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Digsite Quest

[chompybird]
layer=com_0
type=text
x=10
y=323
buttontype=normal
width=135
height=14
font=p12
shadowed=yes
text=Big Chompy Bird Hunting
colour=0xFF0000
overcolour=0xFFFFFF
option=Big Chompy Bird Hunting

[mcannon]
layer=com_0
type=text
x=10
y=416
buttontype=normal
width=77
height=14
font=p12
shadowed=yes
text=Dwarf Cannon
colour=0xFF0000
overcolour=0xFFFFFF
option=Dwarf Cannon

[crest]
layer=com_0
type=text
x=10
y=447
buttontype=normal
width=69
height=14
font=p12
shadowed=yes
text=Family Crest
colour=0xFF0000
overcolour=0xFFFFFF
option=Family Crest

[arena]
layer=com_0
type=text
x=10
y=463
buttontype=normal
width=65
height=14
font=p12
shadowed=yes
text=Fight Arena
colour=0xFF0000
overcolour=0xFFFFFF
option=Fight Arena

[fishingcompo]
layer=com_0
type=text
x=10
y=479
buttontype=normal
width=88
height=14
font=p12
shadowed=yes
text=Fishing Contest
colour=0xFF0000
overcolour=0xFFFFFF
option=Fishing Contest

[fluffs]
layer=com_0
type=text
x=10
y=496
buttontype=normal
width=83
height=14
font=p12
shadowed=yes
text=Gertrude's Cat
colour=0xFF0000
overcolour=0xFFFFFF
option=Gertrude's Cat

[grandtree]
layer=com_0
type=text
x=10
y=512
buttontype=normal
width=83
height=14
font=p12
shadowed=yes
text=The Grand Tree
colour=0xFF0000
overcolour=0xFFFFFF
option=The Grand Tree

[hazeelcult]
layer=com_0
type=text
x=10
y=528
buttontype=normal
width=63
height=14
font=p12
shadowed=yes
text=Hazeel Cult
colour=0xFF0000
overcolour=0xFFFFFF
option=Hazeel Cult

[hero]
layer=com_0
type=text
x=10
y=544
buttontype=normal
width=73
height=14
font=p12
shadowed=yes
text=Hero's Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Hero's Quest

[grail]
layer=com_0
type=text
x=10
y=561
buttontype=normal
width=53
height=14
font=p12
shadowed=yes
text=Holy Grail
colour=0xFF0000
overcolour=0xFFFFFF
option=Holy Grail

[junglepotion]
layer=com_0
type=text
x=10
y=577
buttontype=normal
width=77
height=14
font=p12
shadowed=yes
text=Jungle Potion
colour=0xFF0000
overcolour=0xFFFFFF
option=Jungle Potion

[legends]
layer=com_0
type=text
x=10
y=593
buttontype=normal
width=85
height=14
font=p12
shadowed=yes
text=Legends Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Legends Quest

[zanaris]
layer=com_0
type=text
x=10
y=609
buttontype=normal
width=50
height=14
font=p12
shadowed=yes
text=Lost City
colour=0xFF0000
overcolour=0xFFFFFF
option=Lost City

[arthur]
layer=com_0
type=text
x=10
y=625
buttontype=normal
width=88
height=14
font=p12
shadowed=yes
text=Merlin's Crystal
colour=0xFF0000
overcolour=0xFFFFFF
option=Merlin's Crystal

[drunkmonk]
layer=com_0
type=text
x=10
y=641
buttontype=normal
width=77
height=14
font=p12
shadowed=yes
text=Monk's Friend
colour=0xFF0000
overcolour=0xFFFFFF
option=Monk's Friend

[murder]
layer=com_0
type=text
x=10
y=657
buttontype=normal
width=90
height=14
font=p12
shadowed=yes
text=Murder Mystery
colour=0xFF0000
overcolour=0xFFFFFF
option=Murder Mystery

[itgronigen]
layer=com_0
type=text
x=10
y=687
buttontype=normal
width=109
height=14
font=p12
shadowed=yes
text=Observatory Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Observatory Quest

[elena]
layer=com_0
type=text
x=10
y=702
buttontype=normal
width=63
height=14
font=p12
shadowed=yes
text=Plague City
colour=0xFF0000
overcolour=0xFFFFFF
option=Plague City

[scorpcatcher]
layer=com_0
type=text
x=10
y=731
buttontype=normal
width=96
height=14
font=p12
shadowed=yes
text=Scorpion Catcher
colour=0xFF0000
overcolour=0xFFFFFF
option=Scorpion Catcher

[seaslug]
layer=com_0
type=text
x=10
y=747
buttontype=normal
width=85
height=14
font=p12
shadowed=yes
text=Sea Slug Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Sea Slug Quest

[sheepherder]
layer=com_0
type=text
x=10
y=763
buttontype=normal
width=76
height=14
font=p12
shadowed=yes
text=Sheep Herder
colour=0xFF0000
overcolour=0xFFFFFF
option=Sheep Herder

[zombiequeen]
layer=com_0
type=text
x=10
y=779
buttontype=normal
width=67
height=14
font=p12
shadowed=yes
text=Shilo Village
colour=0xFF0000
overcolour=0xFFFFFF
option=Shilo Village

[ikov]
layer=com_0
type=text
x=10
y=795
buttontype=normal
width=80
height=14
font=p12
shadowed=yes
text=Temple of Ikov
colour=0xFF0000
overcolour=0xFFFFFF
option=Temple of Ikov

[desertrescue]
layer=com_0
type=text
x=10
y=812
buttontype=normal
width=88
height=14
font=p12
shadowed=yes
text=The Tourist Trap
colour=0xFF0000
overcolour=0xFFFFFF
option=The Tourist Trap

[tree]
layer=com_0
type=text
x=10
y=828
buttontype=normal
width=105
height=14
font=p12
shadowed=yes
text=Tree Gnome Village
colour=0xFF0000
overcolour=0xFFFFFF
option=Tree Gnome Village

[totem]
layer=com_0
type=text
x=10
y=844
buttontype=normal
width=66
height=14
font=p12
shadowed=yes
text=Tribal Totem
colour=0xFF0000
overcolour=0xFFFFFF
option=Tribal Totem

[upass]
layer=com_0
type=text
x=10
y=874
buttontype=normal
width=105
height=14
font=p12
shadowed=yes
text=Underground Pass
colour=0xFF0000
overcolour=0xFFFFFF
option=Underground Pass

[dragon]
layer=com_0
type=text
x=10
y=86
buttontype=normal
width=79
height=14
font=p12
shadowed=yes
text=Dragon Slayer
colour=0xFF0000
overcolour=0xFFFFFF
option=Dragon Slayer

[elemental_workshop]
layer=com_0
type=text
x=10
y=431
buttontype=normal
width=112
height=14
font=p12
shadowed=yes
text=Elemental Workshop
colour=0xFF0000
overcolour=0xFFFFFF
option=Elemental Workshop

[druid]
layer=com_0
type=text
x=10
y=401
buttontype=normal
width=73
height=14
font=p12
shadowed=yes
text=Druidic Ritual
colour=0xFF0000
overcolour=0xFFFFFF
option=Druidic Ritual

[priestperil]
layer=com_0
type=text
x=10
y=717
buttontype=normal
width=75
height=14
font=p12
shadowed=yes
text=Priest in Peril
colour=0xFF0000
overcolour=0xFFFFFF
option=Priest in Peril

[druidspirit]
layer=com_0
type=text
x=10
y=672
buttontype=normal
width=72
height=14
font=p12
shadowed=yes
text=Nature Spirit
colour=0xFF0000
overcolour=0xFFFFFF
option=Nature Spirit

[death]
layer=com_0
type=text
x=10
y=369
buttontype=normal
width=79
height=14
font=p12
shadowed=yes
text=Death Plateau
colour=0xFF0000
overcolour=0xFFFFFF
option=Death Plateau

[troll]
layer=com_0
type=text
x=10
y=859
buttontype=normal
width=88
height=14
font=p12
shadowed=yes
text=Troll Stronghold
colour=0xFF0000
overcolour=0xFFFFFF
option=Troll Stronghold

[com_1]
type=text
x=41
y=4
width=93
height=14
font=b12
shadowed=yes
text=Quest Journal
colour=0xFFFF00

[com_2]
type=graphic
x=-12
y=194
width=36
height=36
graphic=miscgraphics,2

[com_3]
type=graphic
x=150
y=194
width=36
height=36
graphic=steelborder2,1

[com_4]
type=graphic
x=3
y=20
width=25
height=30
graphic=steelborder,0

[com_5]
type=graphic
x=146
y=20
width=25
height=30
graphic=steelborder,1

[com_6]
type=graphic
x=3
y=219
width=25
height=30
graphic=steelborder,2

[com_7]
type=graphic
x=146
y=219
width=25
height=30
graphic=steelborder,3

[com_8]
type=graphic
x=28
y=5
width=36
height=36
graphic=steelborder2,0

[com_9]
type=graphic
x=64
y=5
width=36
height=36
graphic=steelborder2,0

[com_10]
type=graphic
x=100
y=5
width=36
height=36
graphic=steelborder2,0

[com_11]
type=graphic
x=112
y=5
width=36
height=36
graphic=steelborder2,0

[com_12]
type=graphic
x=150
y=50
width=36
height=36
graphic=steelborder2,1

[com_13]
type=graphic
x=150
y=86
width=36
height=36
graphic=steelborder2,1

[com_14]
type=graphic
x=150
y=122
width=36
height=36
graphic=steelborder2,1

[com_15]
type=graphic
x=150
y=158
width=36
height=36
graphic=steelborder2,1

[com_16]
type=graphic
x=-12
y=50
width=36
height=36
graphic=miscgraphics,2

[com_17]
type=graphic
x=-12
y=86
width=36
height=36
graphic=miscgraphics,2

[com_18]
type=graphic
x=-12
y=122
width=36
height=36
graphic=miscgraphics,2

[com_19]
type=graphic
x=-12
y=158
width=36
height=36
graphic=miscgraphics,2

[com_20]
type=graphic
x=28
y=228
width=36
height=36
graphic=miscgraphics,3

[com_21]
type=graphic
x=64
y=228
width=36
height=36
graphic=miscgraphics,3

[com_22]
type=graphic
x=98
y=228
width=36
height=36
graphic=miscgraphics,3

[com_23]
type=graphic
x=124
y=228
width=36
height=36
graphic=miscgraphics,3
