[com_0]
type=layer
x=37
y=37
width=387
height=287

[scrollback]
layer=com_0
type=model
x=163
y=79
width=55
height=81
model=model_3623
zoom=643
xan=510

[close]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[scroll]
type=layer
x=48
y=78
width=342
height=215
scroll=1000

[qj1]
layer=scroll
type=text
x=8
y=0
width=331
height=14
center=yes
font=p12
text=qj1

[qj2]
layer=scroll
type=text
x=8
y=20
width=331
height=14
center=yes
font=p12
text=qj2

[qj3]
layer=scroll
type=text
x=8
y=40
width=331
height=14
center=yes
font=p12
text=qj3

[qj4]
layer=scroll
type=text
x=8
y=60
width=331
height=14
center=yes
font=p12
text=qj4

[qj5]
layer=scroll
type=text
x=8
y=80
width=331
height=14
center=yes
font=p12
text=qj5

[qj6]
layer=scroll
type=text
x=8
y=100
width=331
height=14
center=yes
font=p12
text=qj6

[qj7]
layer=scroll
type=text
x=8
y=120
width=331
height=14
center=yes
font=p12
text=qj7

[qj8]
layer=scroll
type=text
x=8
y=140
width=331
height=14
center=yes
font=p12
text=qj8

[qj9]
layer=scroll
type=text
x=8
y=160
width=331
height=14
center=yes
font=p12
text=qj9

[qj10]
layer=scroll
type=text
x=8
y=180
width=331
height=14
center=yes
font=p12
text=qj10

[qj11]
layer=scroll
type=text
x=8
y=200
width=331
height=14
center=yes
font=p12
text=qj11

[qj12]
layer=scroll
type=text
x=8
y=220
width=331
height=14
center=yes
font=p12
text=qj12

[qj13]
layer=scroll
type=text
x=8
y=240
width=331
height=14
center=yes
font=p12
text=qj13

[qj14]
layer=scroll
type=text
x=8
y=260
width=331
height=14
center=yes
font=p12
text=qj14

[qj15]
layer=scroll
type=text
x=8
y=280
width=331
height=14
center=yes
font=p12
text=qj15

[qj16]
layer=scroll
type=text
x=8
y=300
width=331
height=14
center=yes
font=p12
text=qj16

[qj17]
layer=scroll
type=text
x=8
y=320
width=330
height=15
center=yes
font=p12
text=qj17

[qj18]
layer=scroll
type=text
x=8
y=340
width=330
height=15
center=yes
font=p12
text=qj18

[qj19]
layer=scroll
type=text
x=8
y=360
width=330
height=15
center=yes
font=p12
text=qj19

[qj20]
layer=scroll
type=text
x=8
y=380
width=330
height=15
center=yes
font=p12
text=qj20

[qj21]
layer=scroll
type=text
x=8
y=400
width=330
height=15
center=yes
font=p12
text=qj21

[qj22]
layer=scroll
type=text
x=8
y=420
width=330
height=15
center=yes
font=p12
text=qj22

[qj23]
layer=scroll
type=text
x=8
y=440
width=330
height=15
center=yes
font=p12
text=qj23

[qj24]
layer=scroll
type=text
x=8
y=460
width=330
height=15
center=yes
font=p12
text=qj24

[qj25]
layer=scroll
type=text
x=8
y=480
width=330
height=15
center=yes
font=p12
text=qj25

[qj26]
layer=scroll
type=text
x=8
y=500
width=330
height=15
center=yes
font=p12
text=qj26

[qj27]
layer=scroll
type=text
x=8
y=520
width=331
height=14
center=yes
font=p12
text=qj27

[qj28]
layer=scroll
type=text
x=8
y=540
width=331
height=14
center=yes
font=p12
text=qj28

[qj29]
layer=scroll
type=text
x=8
y=560
width=331
height=14
center=yes
font=p12
text=qj29

[qj30]
layer=scroll
type=text
x=8
y=580
width=331
height=14
center=yes
font=p12
text=qj30

[qj31]
layer=scroll
type=text
x=8
y=600
width=331
height=14
center=yes
font=p12
text=qj31

[qj32]
layer=scroll
type=text
x=8
y=620
width=331
height=14
center=yes
font=p12
text=qj32

[qj33]
layer=scroll
type=text
x=8
y=640
width=331
height=14
center=yes
font=p12
text=qj33

[qj34]
layer=scroll
type=text
x=8
y=660
width=331
height=14
center=yes
font=p12
text=qj34

[qj35]
layer=scroll
type=text
x=8
y=680
width=331
height=14
center=yes
font=p12
text=qj35

[qj36]
layer=scroll
type=text
x=8
y=700
width=331
height=14
center=yes
font=p12
text=qj36

[qj37]
layer=scroll
type=text
x=8
y=720
width=331
height=14
center=yes
font=p12
text=qj37

[qj38]
layer=scroll
type=text
x=7
y=740
width=331
height=14
center=yes
font=p12
text=qj38

[qj39]
layer=scroll
type=text
x=8
y=760
width=331
height=14
center=yes
font=p12
text=qj39

[qj40]
layer=scroll
type=text
x=8
y=780
width=331
height=14
center=yes
font=p12
text=qj40

[qj41]
layer=scroll
type=text
x=8
y=800
width=331
height=14
center=yes
font=p12
text=qj41

[qj42]
layer=scroll
type=text
x=8
y=820
width=331
height=14
center=yes
font=p12
text=qj42

[qj43]
layer=scroll
type=text
x=8
y=840
width=331
height=14
center=yes
font=p12
text=qj43

[qj44]
layer=scroll
type=text
x=8
y=860
width=331
height=14
center=yes
font=p12
text=qj44

[qj45]
layer=scroll
type=text
x=8
y=880
width=331
height=14
center=yes
font=p12
text=qj45

[qj46]
layer=scroll
type=text
x=8
y=900
width=331
height=14
center=yes
font=p12
text=qj46

[qj47]
layer=scroll
type=text
x=8
y=920
width=331
height=14
center=yes
font=p12
text=qj47

[qj48]
layer=scroll
type=text
x=8
y=940
width=331
height=14
center=yes
font=p12
text=qj48

[qj49]
layer=scroll
type=text
x=8
y=960
width=331
height=14
center=yes
font=p12
text=qj49

[qj50]
layer=scroll
type=text
x=8
y=980
width=331
height=14
center=yes
font=p12
text=qj50

[ifquestname]
type=text
x=53
y=56
width=77
height=17
font=q8
text=ifquestname
